.grid-c {
    display: grid;
    grid-template-columns: 15% 30% 55%;
}

.closed-grid {
    grid-template-rows: 65px;
    transition: grid-template-rows 500ms;
    transition: 0.5s;
    height: 65px;
}

.open-grid {
    grid-template-rows: 65px 40px 40px;
    height: 145px;
}

.grid-rows {
    display: grid;
    grid-template-rows: 60% 40%;
}

.card-height {
    min-height: 65px;
}

.card-height-open {
    min-height: 110px;
}

.min-w {
    min-width: 355px;
    width: 355px;
}